<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krinotech.trackkit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".TrackkitWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/trackkit_widget_info" />
        </receiver>

        <activity
            android:name=".view.CommentsActivity"
            android:parentActivityName=".view.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity"
                />
        </activity>
        <activity
            android:name=".view.ViewPostsActivity"
            android:parentActivityName=".view.MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MainActivity"
                />
        </activity>
        <activity android:name=".view.MainActivity" />

        <service
            android:name=".TrackkitWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2884932552446425~3127738634"/>
    </application>

</manifest>